<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    </array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ugz App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>uniguardz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GMSApiKey</key>
	<string>AIzaSyARlxuWziUfy_NJ1Tn07p1rYgrX8GWJ8XM</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>UniGuardZ requires access to your devices NFC reader to collect details on checkpoint visits.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>UniGuardZ allows you to attach photos to incident forms and requires access your camera.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>UniGuardZ uses your location to provide location information for submitting alarms &amp; events and scanning checkpoints through beacons. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>UniGuardZ uses your location to provide location information for submitting alarms &amp; events and scanning checkpoints through beacons. </string>
	<key>NSLocationUsageDescription</key>
	<string>UniGuardZ uses your location to provide location information for submitting alarms &amp; events and scanning checkpoints through beacons. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>UniGuardZ uses your location to provide location information for submitting alarms &amp; events and scanning checkpoints through beacons. </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>UniGuardZ would like to access your devices photos in order for you to be able to add photos to forms and tasks.</string>
	<key>NSWidgetWantsLocation</key>
    <true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need Bluetooth to detect nearby beacons.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth to detect nearby beacons.</string>
</dict>
</plist>
